.loginModal {
  width: 80% !important;
}

.inputWrapper {
  border-bottom: 0 !important;
}

.DimmerBackground {
  background-image: url("../../../images/login.png") !important;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
